* {

    margin: 0;
    padding: 0;
    list-style-type: none
}


ul {
    list-style: none;


}

.container {
    width: 98%;
    margin: auto;
    color: black
}

/* Navigation */
.nav-main {
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5px;
    padding: 20px;
    margin: 10px;
    margin-top: 15px;


}

hr {
    margin: 4px 0
}

/* Navbar Left */
.nav-main ul {
    display: flex;
    margin: -25px;
    justify-content: end;
    font-family: 'Anton', sans-serif;

}


.nav-main ul li a {
    text-decoration: none;
    margin: 5px;
    color:rgb(255, 254, 234);
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    padding: 5px;

}


.nav-main ul li a:hover {
    color: rgb(85, 167, 164)
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;

}


/* .showcase {

    height: 500px;
    background: url("../assets/f4.jpg") no-repeat center center/cover;
    transition: 2s;

} */

.maquina-escribir {
    font-size: 50px;
   margin-top: 90px;
    margin-left: 60px;
    font-family: monospace;
    letter-spacing: 1px;
    white-space: nowrap; /* los espacios en blanco no rompen la línea */        
    width: 35ch; /* el ancho será el número de caracteres que tiene nuestra línea */
    animation: escribiendo 2s steps(35);          
    overflow: hidden;
    color:rgb(5, 107, 112);
    font-family: 'Anton', sans-serif;
  }

  .cursor{
    animation: 0.6s  ;
  }

  @keyframes escribiendo {
    from {
      width: 0;
    }
  }

  .maquina-escribira {
    font-size: xx-large;
   
    margin-left: 335px;
    font-family: monospace;
    letter-spacing: 1px;
    white-space: nowrap; /* los espacios en blanco no rompen la línea */        
    width: 25ch; /* el ancho será el número de caracteres que tiene nuestra línea */
    animation: escribiendo 2s steps(25);          
    overflow: hidden;
    color:rgb(255, 254, 234);
    font-family: 'Anton', sans-serif;
  }

  .cursora{
    animation: 0.6s parpadeo-cursor infinite;
  }

  @keyframes escribiendo {
    from {
      width: 0;
    }
  }