* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a {
    color: #3a3a3a;
    text-decoration: none;
}

ul {
    list-style: none;

}

.container {
    width: 94%;
    margin: auto;
    color: black

}

/* Navigation */
.nav-main {
    font-size: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8px;
    padding: 20px 0;
    margin: 5px;
    margin-top: 15px;
    color: black

}

hr {
    margin: 3px 0

}

/* Navbar Left */
.nav-main ul {
    display: flex;
    padding: 5px;
    margin: -20px;
    justify-content: end;
    font-family: 'Anton', sans-serif;
    
}


.nav-main ul li {
    
    font-size: 20px;
    margin:5px

}

.nav-main ul li a {
    
    margin: 5px;
    color:  rgb(250, 240, 208);
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    margin-top: 20px;

}

.nav-main ul li a:hover {
    color:rgb(85, 167, 164)
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;

}

.nav-brand {
    font-family: 'Anton', sans-serif;
    color: rgb(254, 238, 209);
    font-size:30px;
    letter-spacing: 4px;
    
     
    }

.showcase {
    width: 100%;
    /* //imagen foto */
    height: 450px;
    background: url("../assets/back.png") no-repeat center center/cover;
    display: flex;
    transition: 2s;
    margin-bottom: 20px;
    background-color: rgb(237, 245, 252);
    background-blend-mode: multiply;
    margin-right: 5px;

}

.showcase:hover {
    cursor: pointer;
    transition: all 2s;
    transform: rotateY(250deg);

}

.vam {
    font-size: 25px;
    padding: 2px;
    margin: 255px;
    margin-top: 90px;
    margin-left: 10px;
    color: rgb(75, 75, 83);
    font-family: 'Anton', sans-serif;
    letter-spacing: 7px;

}

.vams {
    font-size: 13px;
    margin-top: 300px;
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
    letter-spacing: 7px;
    
}