

      .cards {
     
      padding: 1rem;
     
  

      }

      .cards {
      margin-top: 100px;
      background: rgba(0, 0, 0, 0.63);
      border: 2px solid rgb(255, 255, 254);
     
      }


      .butttons{
            margin-left:-35px;
            margin-right: -10px;
            display: flex;
      }
     


      .butttons img{
      
      height:120px;
      padding: 3%;
      transition: all 2s;
    
      }

      .butttons img:hover{
cursor: pointer;
transition: all 2s;
transform:rotateY(250deg);
 
      }
     


     
 
  


