
      .nav-1 {
      font-size: 12px;
      display: flex;
      justify-content: flex-start;
      padding: 20px 3;
      margin:15px;
      margin-top: 20px;

}
/* background: url("../view/w.jpg") no-repeat center center/cover; */
      .lets  {

      padding: 4.5rem;
      margin-left: 276px;
      background-color:white;
      background-blend-mode: multiply;

      }  

      .cards {
      width: 850px;
      height: auto;
      padding: 2rem;
      border-radius: 1rem;
      margin-left: -260px;

      }

      .cards {
      background: rgba(98, 96, 96, 0.698);
     
      }


      .butttons{
            margin-left:-50px;
            margin-right: -10px;
            display: flex;
      }
     


      .butttons img{
      width: 130px;
      height:105px;
      padding: 3%;
      transition: all 2s;
    
      }

      .butttons img:hover{
            cursor: pointer;
            transition: all 2s;
            transform: scale(2.2);
            transform: rotateZY(360deg);
        
      }
     


     
 
  


