    .nav-1 {
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        padding: 20px 3;
        margin: 15px;
        margin-top: 20px;

    }


    .nav-2 {
        color: #313030;
        font-size: 22px;
        letter-spacing: 2px;
        margin: 35px;
        font-family: 'Open Sans Condensed', sans-serif;

    }
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.containerrr{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    background-color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0 20px;
    margin-top: -35px;
}

.cards-containerrr {
    display: flex;
    width: 600px;
    height: auto;
    background: rgb(20, 99, 100);
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(255, 255, 255, 0.913);
    margin-bottom:120px;
    
}

.headerr{
    border-right: 1px solid rgba(5, 40, 42, 0.486);
}

.descripcion{
    background-color: rgb(30, 30, 26);
    font-family: 'Jost', sans-serif;
}

 

.descripcion .social a{
    display: inline-block;
    height: 10%;
    width: 10%;
    font-size: 30px;
    color:rgb(243, 243, 243)
    
 }
 
.headerr, .descripcion{
    padding: 10px;
    
}

.headerr a{
    position: relative;
    display: block;
   
}

.headerr img{
    display: flex;
    margin-top: 40px;
    border-radius: 50%;;
    box-shadow: 1px 1px 4px 2px rgba(72, 73, 72, 0.834);
    margin:30px 40px;
    transition: .2s;
}

.headerr a:hover img{
    box-shadow: 1px 1px 4px 2px rgba(109, 67, 67, 0.834);
}

.headerr h5{
    color: rgb(0, 0, 0);
    justify-content: center;
    font-family: 'Jost', sans-serif;

}

.headerr h2{
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 18px;
    justify-content: center;
    font-family: 'Jost', sans-serif;
      
}

.descripcion{
    position: relative;
    text-align: center;
}

.descripcion p{
    margin:5px 5px;
    color:gainsboro

}
   