 
.re {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-left: -255x;
    font-size: 30px;

}

.form {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 5px;
    
}

.bo {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 25px;
    color:rgb(55, 3, 3)
}

.boxis {
    background-color: rgba(189, 82, 82, 0.747);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 25px;
    color:white

}



.btn {
    display: flex;
    font-family: 'Anton', sans-serif;
    padding: 15px;
    margin: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 4px;
    font-size: 25px;
    letter-spacing: 2px;
}

.btn:hover {
    transition: all 1s;
    cursor: pointer;
   
}

.ion {
    display: inline;
    cursor: pointer;
    transition: all 1s;
    padding: 15px;     

}

.ion :hover {
    cursor: pointer;
    transition: all 1s;
    transform: scale(1.2);
    
}

.ph{
    color: white;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    padding: 15px;
}

.phh{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
     
}