
.nav-2 {
 
font-family: 'Amatic SC', cursive;
color:white;
 

}


.lets{

font-size: 47px;
letter-spacing: 2px;
color: rgba(0, 204, 255, 0.687);
font-family: 'Amatic SC', cursive;

}

.containers {
    margin-top: 70px;
 
margin-bottom: 45px;


}
 
 
 
   
.ion:hover{
    cursor: pointer;

}










