.containerr {
   width: 1000px;
   height: 120px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;

}

.containerr .card {
   width: 450px;
   border-radius: 8px;
   box-shadow: 0 2px 2px rgba(250, 250, 250, 0.834);
   overflow: hidden;
   margin: 25px;
   transition: all 0.25s;

}

.containerr .card:hover {
   transform: translateY(-15px);
   box-shadow: 0 12px 16px rgba(251, 251, 251, 0.2);

}

.containerr .card img {
   width: 290px;
   height: 200px;
}

.containerr .card h6 {
   font-family: 'Dosis', sans-serif;
   color: white;
   margin: 15px;
   text-align: center;
   font-weight: 520;
   line-height: 20px;

}

.containerr .card h3 {
   font-family: 'Poppins', sans-serif;
   line-height: 25px;
   color: rgb(236, 235, 188);
   font-weight: 520;
   padding: 15px;

}

.bt {
   background: none;
   border: none;
   padding: 2px;
   font-size: 29px;
   color: rgba(246, 244, 238, 0.938);
   margin: 15px;

}

.bt:hover {
   cursor: pointer;
   transition: all 2s;
   transform: scale(1.4)

}



